
.parallax{
  height: 10000px;
  width: 1500px;
  background-color: #7EC0EE;
  margin: 0 auto;
overflow: hidden;
}

#cloud1 {
  position: relative;
  right: 60px;
  bottom: 150px;
}
#cloud2 {
  position: relative;
  left: 150px;
  bottom: 1165px;
}
#cloud3 {
  position: relative;
  bottom: 2100px;
  left: 800px;
}

#cloud4 {
  position: relative;
  bottom: 2850px;
  right: 80px;
}
#cloud5 {
  position: relative;
  bottom: 3950px;
  left: 200px;
}

#cloud6 {
  position: relative;
  bottom: 4950px;
  left: 870px;
}

#bean2 {
  position: relative;
  bottom: 10000px;
  left: 1550px;
}

#beantop {
  position: relative;
  bottom: 6100px;
  left: 170px;
}

#beanmiddle1 {
  position: relative;
  bottom: 6400px;
  left: 448px;
}

#beanmiddle2 {
  position: relative;
  bottom: 6426px;
  left: 452px;
}

#beanmiddle3 {
  position: relative;
  bottom: 6490px;
  left: 448px;
}

#beanmiddle4 {
  position: relative;
  bottom: 6506px;
  left: 450px;
}

#beanmiddle5 {
  position: relative;
  bottom: 6576px;
  left: 450px;
}
#beanmiddle6 {
  position: relative;
  bottom: 6590px;
  left: 455px;
}

#beanmiddle7 {
  position: relative;
  bottom: 6655px;
  left: 452px;
}

#beanmiddle8 {
  position: relative;
  bottom: 6670px;
  left: 455px;
}

#beanmiddle9 {
  position: relative;
  bottom: 6733px;
  left: 452px;
}

#beanmiddle10 {
  position: relative;
  bottom: 6750px;
  left: 455px;
}

#beanmiddle11 {
  position: relative;
  bottom: 6820px;
  left: 452px;
}

#beanmiddle12 {
  position: relative;
  bottom: 6848px;
  left: 456px;
}

#beanmiddle13 {
  position: relative;
  bottom: 6923px;
  left: 452px;
}
#beanmiddle14 {
  position: relative;
  bottom: 6948px;
  left: 456px;
}

#beanmiddle15 {
  position: relative;
  bottom: 7029px;
  left: 452px;
}

#beanmiddle16 {
  position: relative;
  bottom: 7048px;
  left: 456px;
}
#beanmiddle17 {
  position: relative;
  bottom: 7123px;
  left: 455px;
}

#beanmiddle18 {
  position: relative;
  bottom: 7148px;
  left: 456px;
}

#beanmiddle19 {
  position: relative;
  bottom: 7228px;
  left: 456px;
}
#beanmiddle20 {
  position: relative;
  bottom: 7248px;
  left: 460px;
}
#beanmiddle21 {
  position: relative;
  bottom: 7328px;
  left: 460px;
}
#beanmiddle22 {
  position: relative;
  bottom: 7348px;
  left: 464px;
}
#beanmiddle23 {
  position: relative;
  bottom: 7428px;
  left: 464px;
}

#beanmiddle24 {
  position: relative;
  bottom: 7448px;
  left: 464px;
}

#cloud7 {
  position: relative;
  left: 300px;
  bottom: 15365px;
}

#corbin {
  position: relative;
  margin-top:-500px;
  z-index: 2;

}
#castle {
  position: absolute;
  top: 50px;
  width: 1500px;
  margin: 0 auto;
}
